{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h1>{% trans "Sign In" %}</h1>
    <p>
        {% blocktrans %}
            If you haven't created an account yet, please
            <a href="{{ signup_url }}">sign up</a> first.
        {% endblocktrans %}
    </p>
    <div class='ui grid'>
        <div class='six wide column'>
            <form class="login ui form" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
                <button class="ui button secondary" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
