{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'style.css' %}"
              --
              Custom
              JS
              -->
        <script type="text/javascript" src={% static 'main.js' %} defer></script>
        <link rel="stylesheet"
              type='text/css'
              href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <title>Leopard Notes</title>
    </head>
    <body>
        {% include 'main/navbar.html' %}
        <div class="ui mt-100 container">
            {% block content %}
            {% endblock content %}
        </div>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
